.node-p {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-h {
  stroke: #fff;
  stroke-width: 1.5px;
}

.node-a {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
